// primary
$color_orange: hsl(26, 100%, 55%);
$color_pale_orange: hsl(25, 100%, 94%);

// neutral
$color_very_dark_blue: hsl(220, 13%, 13%);
$color_dark_grayish_blue: hsl(219, 9%, 45%);
$color_grayish_blue: hsl(220, 14%, 75%);
$color_light_grayish_blue: hsl(223, 64%, 98%);
$color_white: hsl(0, 0%, 100%);
$color_black: hsl(0, 0%, 0%);
