// variables
$font_weight_bold: 700;
$font_weight_normal: 400;

// styles
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: $font_weight_bold;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
