.icon {
  width: fit-content;
  height: auto;
}

.icon--menu {
  content: url("/images/icon-menu.svg");
}

.icon--cart {
  content: url("/images/icon-cart.svg");
}

.icon--arrow-left {
  content: url("/images/icon-previous.svg");
}

.icon--arrow-right {
  content: url("/images/icon-next.svg");
}
