// primary
$color_orange: #ff7d1a;
$color_pale_orange: #ffede0;

// neutral
$color_very_dark_blue: #1d2025;
$color_dark_grayish_blue: #68707d;
$color_grayish_blue: #b6bcc8;
$color_light_grayish_blue: #f7f8fd;
$color_white: hsl(0, 0%, 100%);
$color_black: hsl(0, 0%, 0%);
